

#head{
	width:1000px;
	height:170px;
	background: RGB(0, 119, 156);
	margin-left:150px;
	border-radius:0px 0px 10px 10px;
	padding-bottom:10px;
	box-shadow: 5px 5px 10px rgb(0, 119, 20); opacity: 0.85; 
}
#name{
	width:970px;
	height:65px;
	background:RGB(253, 250, 255);
	margin-left:15px;
	color:RGB(0, 119, 176);
	text-decoration:inherit;
	border-radius:0px 0px 10px 10px;
	
}
#image{
	float:right;
	margin-right:50px;
	margin-top:-55px;
	
}
#contact{
	width: 884px;
	height: 65px;
	background: RGB(0, 119, 16);
	border-radius:10px 10px 0px 0px ;
	padding-left:110px; padding-top:px;
	margin-left:3px;
	
}
#address{
	width: 300px;
	height: 60px;
	background: white;
	padding-left:5px;
}
#email{
	width: 300px;
	height: 60px;
	background: white;
	color: red;
	font-size:20px;
	margin-left: 460px;
	margin-top:-79px;
	padding-left:5px;
	 
}

.error{
	margin-left:30%; font-size: 22px;
}



#body{
	width:905px;
	height:870px;
	margin-left:200px;
	box-shadow: 0px 5px 5px 5px  rgb(0, 79, 50); opacity: 0.85; 
	
}
#prof{
	width:900px;
	padding-left:5px;
	background: lavender;
}
#comp{
	width:900px;
	background: lavender;
	padding-left:5px;
	
}
#work{
	width:900px;
	background: lavender;
	padding-left:5px;
	
}
#edu{
	width:900px;
	background: lavender;
	padding-left:5px;
}
#btn_contact{
	position: absolute;
	margin-left:30%;
  background-color: RGB(0, 119, 156);
  color:white;
  height:40px;
  font-size: 20px;
  font-style: italic;
  border-radius: 10px 10px 10px 10px ;
  box-shadow: 5px 5px 10px rgb(0, 119, 20);
	
}

.section_name{
	color:blue;
	margin-left:300px;
	
	
}
.section_name_2{
	color:RGB(0, 150, 5);
	
}
#footer{
	width:1000px;
	height:80px;
	background: RGB(0, 119, 156);
	color: white;
	font:15px;
	margin-left:150px;
	border-radius:10px 10px 0px 0px ;
	box-shadow: 5px 5px 10px rgb(0, 119, 20); 
	opacity: 0.85;
	margin-top:30px;
}

#hobbies{
	width:905px;
	height:80px;
	background: lavender;
	color: black;
	font:15px;
	border-radius:0px 0px 10px 10px ;
	box-shadow: 5px 5px 10px rgb(0, 119, 20); 
	opacity: 0.85;
	
}
.section_hb{
	margin-left:300px;
	color: black;
}

#contact_me{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 30px;
  
}

.contact{
  background-color: RGB(0, 119, 156);
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 3px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  margin-top:-30px;
}

.container {
  padding: 0px 20px 20px 20px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  background-color: #f44336;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

.view-input {
  width: 95%;
  height:auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#send {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  
  width: 150px;
}

.container-button{
	
	margin-left:35%;
	font-size: 25px;
  font-weight: bold;
}
#msgText{
	margin-top: -20px;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 1s;
  animation: animatezoom 0.9s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


